@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "HR Regular";
}

<h1>HR Regular Page</h1>
you currently in HR Regular Page